@use '@angular/material' as mat;

// 1) DEFINE THE THEME FIRST
$customTheme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$blue-palette,
    tertiary: mat.$green-palette
  ),
 
));

// 2) GLOBAL OVERRIDES
:root {
  @include mat.button-overrides((
    filled-container-shape: '6px',
    outlined-container-shape: '6px'
  ));

  @include mat.badge-overrides((
    background-color: blue
  ));
}

.text-primary {
  color: #7d00fa;
}

button.match-input-height {
  height: var(--mat-form-field-container-height) !important;
}

.mdc-notched-outline__notch {
  border-right-style: none !important;
}

// 3) APPLY THE THEME
.custom-theme {
  @include mat.all-component-themes($customTheme);

  // Snackbar error
  .snack-error {
    @include mat.snack-bar-overrides((
      button-color: white,
      container-color: red,
      supporting-text-color: white
    ));
  }

  // Snackbar success
  .snack-success {
    @include mat.snack-bar-overrides((
      button-color: white,
      container-color: green,
      supporting-text-color: white
    ));
  }
}
